.cruel {
  padding: 2rem;
}

.game-controls {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.game-controls button {
  padding: 0.5rem 1rem;
}

.p-dialog {
  border: .25rem solid black;
  border-radius: 5px;
  padding: 1rem;
  background-color: beige;
  max-width: 500px;
  max-height: 500px;
}

.game-display {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.foundations, .tableau {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.foundations {
  width: 400px;
}

.tableau {
  max-width: 1000px;
}

.foundation-pile, .tableau-pile {
  min-width: 100px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  border: 1px solid gray;
  &.selected {
    border: 2px solid blue;
  }
}