.game-controls {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.game-controls button {
  padding: 0.5rem 1rem;
}

.game-display {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.foundations, .tableau {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.foundations {
  width: 400px;
}

.tableau {
  max-width: 1000px;
}

.foundation-pile, .tableau-pile {
  width: 110px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  border: 3px solid gray;
  &.selected {
    border: 2px solid blue;
  }
}